@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: Roboto, sans-serif;
}
.navbar {
  height: 72px;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header-container {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
@media (max-width: 576px) {
  .header-container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

@media (max-width: 768px) {
  #signUp {
    margin-right: 0 !important;
  }
}

.link-to {
  color: #1D1D1D;
}

.form-control {
  margin-top: 104px;
}

.line {
  border-bottom: 1px solid #FFFFFF;
}

#lang {
  display: flex;
  align-items: center;
}

.text-decoration-none {
  color: #ffffff;
}

.button-up {
  opacity: 0.5;
  transition: opacity 0.5s ease 0s;
  position: fixed;
  width: 80px;
  height: 80px;
  right: 43px;
  bottom: 24px;
  background: #59BD5A;
}
@media (max-width: 768px) {
  .button-up {
    width: 64px;
    height: 64px;
    right: 16px;
    bottom: 24px;
  }
}

.button-up:hover {
  opacity: 0.9;
  transition: opacity 0.5s ease 0s;
}

#Up {
  position: absolute;
  width: 15.27px;
  height: 24.99px;
  left: 32.4px;
  top: 27.01px;
}
@media (max-width: 768px) {
  #Up {
    width: 15.27px;
    height: 24.99px;
    left: 24.4px;
    top: 19.01px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 320px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1124px;
  }
}
